body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media screen and (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

.page {
  gap: 8em;
  display: flex;
  padding: 4em 10em;
  position: relative;
  grid-column: 1/span 3;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .page {
    gap: 0;
    padding: 0;
    grid-column: inherit;
    background-image: linear-gradient(135deg, hsl(0deg, 0%, 100%), hsl(0deg, 100%, 98%));
  }
}
.page::before {
  top: 0;
  left: 0;
  content: "";
  opacity: 0.4;
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;
  background-image: url("../imgs/bg-pattern-desktop.svg");
}
@media screen and (max-width: 800px) {
  .page::before {
    content: none;
  }
}
@media screen and (max-width: 800px) {
  .page__logo {
    margin: 2em;
  }
}
.page__content {
  gap: 2.5em;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .page__content {
    gap: 1.25em;
    padding: 4em 2em;
  }
}
.page__content__title {
  display: flex;
  font-size: 3.5em;
  letter-spacing: 0.3em;
  flex-direction: column;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  .page__content__title {
    font-size: 2.75em;
    text-align: center;
  }
}
.page__content__title--highlight {
  font-weight: 300;
  color: hsl(0deg, 36%, 70%);
}
.page__content__description {
  line-height: 175%;
  color: hsl(0deg, 36%, 70%);
}
@media screen and (max-width: 800px) {
  .page__content__description {
    text-align: center;
  }
}
.page__content__newsletter {
  display: flex;
  position: relative;
  border-radius: 100rem;
  background-image: linear-gradient(135deg, hsl(0deg, 0%, 100%), hsl(0deg, 100%, 98%));
  border: 1px solid hsla(0deg, 36%, 70%, 0.4);
}
.page__content__newsletter.invalid {
  border-color: hsl(0deg, 93%, 68%);
}
.page__content__newsletter.invalid > span {
  display: block;
}
.page__content__newsletter.invalid > div > span {
  display: block;
}
.page__content__newsletter--input {
  width: 100%;
  position: relative;
}
.page__content__newsletter--input > input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  line-height: 100%;
  padding: 1em 2.5em;
  border-radius: 100rem;
}
@media screen and (max-width: 800px) {
  .page__content__newsletter--input > input {
    padding: 1em 1.5em;
  }
}
.page__content__newsletter--input > input::placeholder {
  color: hsl(0deg, 36%, 70%);
}
.page__content__newsletter--input > span {
  top: 50%;
  right: 1.5em;
  display: none;
  position: absolute;
  transform: translateY(-50%);
}
.page__content__newsletter--button {
  border: none;
  outline: none;
  display: flex;
  padding: 1em 2.5em;
  align-items: center;
  transform: scale(1.05);
  border-radius: 100rem;
  background-image: linear-gradient(135deg, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  transition: transform 300ms ease-in-out;
  box-shadow: 0 0.75em 1.5em hsla(0deg, 36%, 70%, 0.4);
}
.page__content__newsletter--button:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 800px) {
  .page__content__newsletter--button {
    padding: 1em 1.75em;
  }
}
.page__content__newsletter--error {
  top: 120%;
  left: 2.5em;
  display: none;
  font-size: 0.75em;
  position: absolute;
  color: hsl(0deg, 93%, 68%);
}
@media screen and (max-width: 800px) {
  .page__content__newsletter--error {
    left: 1.5em;
  }
}

.image--dsk, .image--mobile {
  height: 100%;
  object-fit: cover;
  grid-column: span 2;
}
.image--dsk {
  display: block;
}
.image--mobile {
  display: none;
}
@media screen and (max-width: 800px) {
  .image--dsk {
    display: none;
  }
  .image--mobile {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
